/* --- VARIÁVEIS E RESET --- */
        :root {
            --bg-color: #FDF0EA;
            --primary-color: #FF834E;
            --primary-hover: #e06d3d;
            --text-main: #4D3629;
            --text-sec: #6B5A50;
            --font-serif: 'Playfair Display', serif;
            --font-sans: 'Poppins', sans-serif;
            --font-script: 'Great Vibes', cursive;
            --container-width: 1200px;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }